body {
  background-color: rgb(33, 51, 70);
  color: #dfdfdf;
}
.card {
  background-color: rgb(5, 23, 37);
}
.card-body .bold {
  padding-top: 5px;
  font-weight: bold;
}
.card-body p {

}
a{
  color: white;
}
a:hover{
  color: white;
}
footer a{
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: rgb(255, 72, 0);
  text-decoration: none;
  border-color: rgb(255, 72, 0);
}
.avail-container{
  margin-left: 25%;
}
.avail-container h3{
  margin-top: 5px;
}